body {
  background-color: gray;
  font-family: sans-serif;
  width: 100%;
  min-width: 250px;
}

header p {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#torus-style {
  display: block;
  /*height: 400px;
  width: 400px;*/
  height: 25%;
  width: 25%;
  min-width: 75px;
  min-height: 75px;
  margin: 40px auto;
  border: 5px solid black;

}

#list-container-style {
  
  /*background-image: url(images/cube-grid.png);*/
  background-image: url(images/floral.png);
  border-radius: 25px;
  width: 60%;
  height: 100%;
  border: 10px solid #3F377B;
}

#main-list {
  
  color: black;
  font-weight: bolder;
  padding: 20px;
  height: 100%;
  letter-spacing: 2px;
  
}

li {
  list-style-type: square;
}

.heading-style{
  font-family: Times, Georgia;
  font-style: oblique;
  font-weight: bolder;
  font-size: 25px;
}

a:link{
  color: blue;
}

a:hover{
  color: white;
  background-color: #3F377B;
  font-style: italic;
}
a:visited{
  color: purple;
}

#page-footer{
  
}